.title-divider__icon::before, .title-divider__icon::after, .content-divider__icon::before, .content-divider__icon::after {
  background-color: #e0e0e0;
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 10rem; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

section:nth-child(even) {
  background-color: #F5F5F5; }

section:nth-child(odd) {
  background-color: #FFFFFF; }

section:last-child {
  background-color: #FD4100; }

body {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

h1 {
  font-size: 6.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 1;
  word-spacing: 1rem;
  letter-spacing: 2px; }

h2 {
  color: #222222;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 1; }

p {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word; }

textarea {
  resize: none; }

.home-header {
  background-image: url(../img/photos/showoff_01.webp);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 90vh; }
  .home-header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .home-header__content h1 {
      margin-bottom: 2rem; }
  .home-header__title {
    margin-top: -1rem;
    letter-spacing: -.5rem;
    white-space: nowrap;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 10rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; }
  .home-header__subtitle {
    margin-bottom: 2.4rem;
    vertical-align: top;
    line-height: 1;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-transform: uppercase; }

.section-intro {
  background-color: #FFFFFF;
  padding: 18rem 0 12rem 0; }

.section-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F5F5F5;
  padding-top: 10.8rem; }
  .section-team::after {
    content: "";
    bottom: 0;
    display: inline-block;
    position: absolute;
    right: 0; }
  .section-team__photos {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 118rem; }
  .section-team__photo {
    align-items: flex-end;
    display: flex;
    justify-content: center; }
    .section-team__photo:not(:last-child)::after {
      height: 70%;
      width: 1px;
      background-color: #e0e0e0;
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(8.5rem, calc(-50% - 2rem)); }
    .section-team__photo img {
      height: 42rem; }

.section-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 118rem;
  padding-top: 10.8rem;
  padding-bottom: 7.2rem; }
  .section-gallery__photo-grid {
    width: 118rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
    margin-bottom: 7rem; }
  .section-gallery__photo {
    justify-self: stretch;
    height: 34.8rem;
    overflow: hidden; }
    .section-gallery__photo img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105%; }

.section-content-boxes {
  padding: 15rem 0 10rem 0; }

.section-events {
  background-color: #F5F5F5;
  padding-top: 10.8rem;
  padding-bottom: 13rem;
  text-align: center; }

.section-why {
  padding: 12rem 0; }
  .section-why__contents {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: flex-start; }
  .section-why__info {
    width: 55rem; }
  .section-why__chart {
    margin-left: 9rem;
    flex: 1; }
  .section-why .progress:not(:last-child) {
    margin-bottom: 3rem; }

.section-detail {
  padding: 13rem 0 17.2rem 0; }

.section-info-boxes {
  padding: 17.4rem 0 13.5rem 0; }

.section-detail-boxes {
  padding: 17.4rem 0 13.5rem 0; }

.section-description-boxes {
  padding: 13.9rem 0 9.4rem 0; }

.section-formal-contacts {
  padding: 12rem 0 11.5rem 0; }
  .section-formal-contacts__contents {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: flex-start; }

.map {
  margin-bottom: 9.6rem;
  width: 100%;
  height: 40rem;
  background-color: red; }

.formal-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: flex-start;
  flex: 1;
  margin-right: 3.2rem;
  line-height: 1; }
  .formal-contact-form__titie-block {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem; }
  .formal-contact-form__title-line {
    height: 1px;
    background-color: #e0e0e0;
    flex: 1; }
  .formal-contact-form__title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    color: #FD4100;
    margin-right: 3.8rem;
    line-height: 1; }
  .formal-contact-form__sub-title {
    margin-bottom: 3.8rem;
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    font-style: italic;
    color: #999999; }
  .formal-contact-form input {
    border: none;
    padding: 2rem 0 2rem 2.8rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    width: 100%;
    background-color: #F5F5F5;
    color: #222222; }
  .formal-contact-form input::placeholder {
    color: #999999; }
  .formal-contact-form textarea {
    border: none;
    padding: 2rem 0 0 2.8rem;
    margin-bottom: 3.3rem;
    height: 12.6rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    width: 100%;
    background-color: #F5F5F5;
    color: #222222; }
  .formal-contact-form textarea::placeholder {
    color: #999999; }
  .formal-contact-form textarea:focus, .formal-contact-form input:focus {
    outline: 2px solid #999999; }

.formal-contact-info {
  width: 28rem; }
  .formal-contact-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: flex-start;
    padding-bottom: 5.5rem; }
  .formal-contact-info__title-block {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem; }
  .formal-contact-info__title-line {
    height: 1px;
    background-color: #e0e0e0;
    flex: 1; }
  .formal-contact-info__title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    color: #FD4100;
    margin-right: 1.2rem;
    line-height: 1; }
  .formal-contact-info__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: flex-start; }
    .formal-contact-info__detail span {
      line-height: 1;
      font-family: "Lato", sans-serif;
      font-size: 1.3rem;
      color: #999999; }
    .formal-contact-info__detail span:not(:first-child) {
      margin-top: 1.2rem; }
  .formal-contact-info__social-media {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: flex-start; }
    .formal-contact-info__social-media-icon:not(:last-child) {
      margin-right: .9rem; }
    .formal-contact-info__social-media-icon {
      height: 3.8rem;
      width: 3.8rem;
      cursor: pointer;
      border: 1px solid #999999; }
    .formal-contact-info__social-media svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1.4rem;
      width: 1.4rem;
      fill: #999999;
      vertical-align: middle; }

.navigation {
  width: 100vw;
  padding: 2.2rem 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 1000;
  border-bottom: 1px solid #999999; }
  .navigation__nav {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 118rem;
    z-index: 1500; }
  .navigation__list {
    display: flex;
    list-style: none;
    margin-top: .3rem; }
  .navigation__item {
    margin-left: -.5rem;
    text-align: center;
    padding: 0 1.5rem; }
    .navigation__item::before {
      content: "";
      height: 3px;
      width: calc(100% - 2.8rem);
      background-color: #FD4100;
      display: inline-block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform-origin: top;
      transform: translateX(-50%) translateY(calc(-50% - 2rem)) scaleX(0);
      transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .navigation__item:hover::before {
      transform: translateX(-50%) translateY(calc(-50% - 2rem)) scaleX(1); }
  .navigation__link {
    display: inline-block;
    padding: .3rem .5rem;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s; }
  .navigation__logo {
    align-items: center;
    display: flex; }
    .navigation__logo img {
      width: 4rem; }
    .navigation__logo span {
      margin-left: 1rem;
      color: #FFFFFF;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.6rem;
      letter-spacing: .2rem;
      text-transform: uppercase;
      line-height: 1; }

.btn, .btn:link, .btn:visited {
  border: none;
  display: inline-block;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2);
  transform: translateY(-0.3rem) scale(1.05, 1.05); }

.btn:active, .btn:focus {
  box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.2);
  transform: translateY(-1px) scale(1, 1); }

.btn--big {
  padding: 1.2rem 6.8rem; }

.btn--md {
  height: 5.2rem;
  width: 27rem; }

.btn--medium {
  padding: .5rem 2rem; }

.btn--small {
  padding: 1rem 2.4rem; }

.btn--transparent-light-txt {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  letter-spacing: 0px; }
  .btn--transparent-light-txt:hover {
    background-color: #FD4100;
    border: 2px solid #FD4100;
    letter-spacing: 2px; }

.btn--transparent-dark-txt {
  color: #999999;
  background-color: transparent;
  border: 2px solid #e0e0e0;
  letter-spacing: 0px; }
  .btn--transparent-dark-txt:hover {
    color: #FFFFFF;
    background-color: #FD4100;
    border: 2px solid #FD4100;
    letter-spacing: 2px; }

.btn--primary-solid {
  color: #FFFFFF;
  background-color: #FD4100;
  letter-spacing: 0px; }
  .btn--primary-solid:hover {
    letter-spacing: 2px; }

.btn--secondary {
  color: #FFFFFF;
  background-color: #999999;
  letter-spacing: 0px; }
  .btn--secondary:hover {
    letter-spacing: 2px; }

.title-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 7rem; }
  .title-divider__icon {
    height: 3.3rem;
    width: 3.3rem;
    margin: 1.7rem 0; }
    .title-divider__icon svg {
      height: 100%;
      width: 100%;
      fill: #999999; }
    .title-divider__icon::before {
      right: 0;
      transform: translate(-4rem, -50%); }
    .title-divider__icon::after {
      left: 0;
      transform: translate(3.5rem, -50%); }
  .title-divider p {
    text-align: center;
    display: block;
    width: 68rem; }

.content-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .content-divider__icon {
    height: 3.3rem;
    width: 3.3rem;
    margin: 1.7rem 0; }
    .content-divider__icon svg {
      height: 100%;
      width: 100%;
      fill: #999999; }
    .content-divider__icon::before {
      right: 0;
      transform: translate(-4rem, -50%); }
    .content-divider__icon::after {
      left: 0;
      transform: translate(3.5rem, -50%); }

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 28rem;
  border: 2px solid rgba(253, 65, 0, 0);
  background-color: #FFFFFF; }
  .pricing-card:hover {
    border: 2px solid #FD4100; }
  .pricing-card__banner {
    background-color: #333333;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    padding: .5rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
  .pricing-card__contents {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4.5rem 0 4rem 0;
    width: 100%; }
  .pricing-card__price {
    margin-bottom: 2.4rem;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 500;
    line-height: .7; }
    .pricing-card__price::before {
      content: "$";
      color: #999999;
      display: inline-block;
      font-size: 2rem;
      font-weight: 600;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate(-1.5rem, 1.6rem); }
    .pricing-card__price::after {
      bottom: 0;
      content: "/MO";
      color: #999999;
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(2.8rem, 25%); }
  .pricing-card__list {
    width: 85%;
    margin-bottom: 2.5rem;
    font-family: "Lato", sans-serif;
    list-style: none;
    text-align: center; }
    .pricing-card__list::before {
      height: 1px;
      width: 100%;
      background-color: #e0e0e0;
      content: "";
      display: block; }
    .pricing-card__list-item {
      border: none;
      border-bottom: 1px dotted #e0e0e0;
      color: #7C7C7C;
      font-size: 1.3rem;
      padding: .8rem 0; }

.content-box {
  width: 37rem;
  border: 2px solid #e0e0e0; }
  .content-box__border-mask {
    height: 10.8rem;
    width: 10.8rem;
    border: 1rem solid #FFFFFF;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%); }
  .content-box__icon {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #e0e0e0; }
    .content-box__icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 3.9rem;
      width: 3.9rem; }
  .content-box__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6.8rem;
    margin-bottom: 4.4rem; }
  .content-box__title {
    margin-bottom: 1rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #222222;
    letter-spacing: 1px; }
  .content-box__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    width: 30rem; }

.event-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 8rem; }
  .event-gallery__item {
    justify-self: stretch;
    overflow: hidden; }
    .event-gallery__item img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105%; }
    .event-gallery__item--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 8rem 4.5rem 6.5rem 4.5rem;
      line-height: 1; }
      .event-gallery__item--content span:first-child {
        font-size: 2.2rem;
        color: #222222;
        letter-spacing: 1px; }
      .event-gallery__item--content span:nth-child(2) {
        margin: 1.6rem 0;
        font-size: 1.6rem;
        color: #FD4100;
        letter-spacing: 1px; }
      .event-gallery__item--content p {
        text-align: center;
        line-height: 1.6;
        margin-bottom: 2.5rem;
        height: 8rem; }

.progress__content {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 1.5rem; }

.progress span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #222222;
  line-height: 1; }

.progress__title {
  letter-spacing: 2px; }

.progress__bar {
  height: 1.4rem;
  width: 100%;
  background-color: #F5F5F5; }
  .progress__bar::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    background-color: #FD4100;
    z-index: 1; }

.progress__bar--65::after {
  width: 65%; }

.progress__bar--70::after {
  width: 70%; }

.progress__bar--75::after {
  width: 75%; }

.reservation__block {
  height: 11.5rem;
  width: 118rem;
  background-color: #FD4100;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  padding: 0 4.6rem; }

.reservation__box {
  align-items: center;
  align-self: center;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  padding: 1rem 1.2rem 1rem 2.4rem;
  width: 25%; }
  .reservation__box svg {
    height: 1.7rem;
    width: 1.7rem;
    fill: #FFFFFF; }
  .reservation__box span {
    color: #FFFFFF;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase; }

.reservation__btn {
  text-align: center;
  align-self: center;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  padding: 1rem 2rem;
  width: 15%; }
  .reservation__btn a:link,
  .reservation__btn a:visited {
    color: #999999;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase; }

.customer-review-box {
  width: 37rem;
  border: 2px solid #e0e0e0; }
  .customer-review-box__border-mask {
    height: 11.2rem;
    width: 11.2rem;
    border: 1rem solid #FFFFFF;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%); }
  .customer-review-box__icon {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    overflow: hidden; }
    .customer-review-box__icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%; }
  .customer-review-box__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5.8rem 0 4.2rem 0; }
  .customer-review-box__star-list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    list-style: none;
    line-height: 1; }
    .customer-review-box__star-list-item svg {
      height: 1.7rem;
      width: 1.7rem;
      vertical-align: middle;
      fill: #f9ab04; }
  .customer-review-box__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    width: 30rem;
    margin-bottom: 1.8rem; }
  .customer-review-box__username {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #FD4100;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1rem; }
  .customer-review-box__company {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    color: #999999;
    line-height: 1; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.row {
  max-width: 118rem;
  width: 118rem;
  margin: 0 auto; }

.row-space-between {
  width: 118rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.introduction__video {
  height: 37rem; }
  .introduction__video video {
    height: 100%; }

.introduction__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 38%; }
  .introduction__info p {
    display: block;
    margin-top: 3.5rem;
    width: 100%; }

.introduction__list {
  display: flex;
  list-style: none;
  width: 100%; }

.introduction__list-item {
  cursor: pointer;
  display: inline-block;
  font-size: .2rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  padding: .8rem 2rem;
  text-align: center;
  text-transform: uppercase;
  width: 33.3333333%; }
  .introduction__list-item--active {
    color: #333333;
    background-color: #FFFFFF;
    border-top: 2px solid #FD4100;
    border-right: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0; }
  .introduction__list-item--inactivated {
    color: #999999;
    background-color: #F5F5F5;
    border-bottom: 2px solid #e0e0e0; }
    .introduction__list-item--inactivated:not(:last-child)::after {
      height: 65%;
      width: 1px;
      background-color: #e0e0e0;
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }

.common-page-header {
  padding: 20.8rem 0 13rem 0;
  background-position: top;
  background-attachment: fixed;
  text-align: center; }
  .common-page-header--about {
    background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.65), rgba(253, 65, 0, 0.35)), url(../../img/photos/cover/aboutPage_cover.webp); }
  .common-page-header--services {
    background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.55), rgba(253, 65, 0, 0.35)), url(../../img/photos/cover/servicesPage_cover.webp); }
  .common-page-header--pricing {
    background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.55), rgba(253, 65, 0, 0.35)), url(../../img/photos/cover/pricingPage_cover.webp); }
  .common-page-header--contacts {
    background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.55), rgba(253, 65, 0, 0.35)), url(../../img/photos/cover/contactsPage_cover.webp); }
  .common-page-header__contents {
    display: inline-block; }
  .common-page-header__slogan {
    display: inline-block;
    margin-top: 1.4rem;
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 3px; }

.section-subscribe {
  padding: 6.5rem 0 5rem 0;
  background-color: #FD4100; }
  .section-subscribe__block {
    width: 84rem;
    margin: 0 auto; }
  .section-subscribe__content {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between; }
    .section-subscribe__content span {
      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: #FFFFFF;
      letter-spacing: 2px;
      line-height: 1; }
    .section-subscribe__content button {
      height: 2rem;
      width: 2rem;
      border: none;
      background-color: transparent;
      cursor: pointer; }
    .section-subscribe__content svg {
      height: 100%;
      width: 100%;
      fill: #FFFFFF; }
  .section-subscribe__input {
    height: 3.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 1.3rem; }
    .section-subscribe__input:focus {
      outline: none; }

.footer {
  background-color: #333333;
  padding: 10.5rem 0 2.4rem 0; }
  .footer__main-contents {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 9.8rem; }
    .footer__main-contents p {
      font-size: 1.4rem;
      text-align: initial;
      line-height: 1.4; }
  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 27rem;
    height: 23.5rem; }
  .footer__sub-block {
    height: 16.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__logo {
    align-items: center;
    display: flex;
    justify-content: center; }
    .footer__logo img {
      height: 4rem;
      width: 4rem; }
    .footer__logo span {
      margin-left: 1rem;
      color: #FFFFFF;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.6rem;
      letter-spacing: .2rem;
      text-transform: uppercase;
      line-height: 1; }
  .footer__social-media {
    align-items: center;
    display: flex;
    justify-content: center; }
    .footer__social-media-icon:not(:last-child) {
      margin-right: .9rem; }
    .footer__social-media-icon {
      padding: .8rem;
      cursor: pointer;
      border: 1px solid #7C7C7C; }
    .footer__social-media svg {
      height: 2.2rem;
      width: 2.2rem;
      fill: #7C7C7C;
      vertical-align: middle; }
  .footer__sub-title {
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
    display: inline-block;
    padding-top: .8rem; }
    .footer__sub-title::after {
      height: 2px;
      width: 6.5rem;
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #FD4100;
      transform: translateY(calc(50% + 2rem)); }
  .footer__recent-post {
    align-items: center;
    display: flex;
    justify-content: center; }
    .footer__recent-post-img {
      height: 6.7rem;
      width: 6.7rem;
      display: inline-block;
      margin-right: 1.9rem; }
      .footer__recent-post-img img {
        width: 100%;
        vertical-align: middle; }
    .footer__recent-post-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      align-items: flex-start; }
      .footer__recent-post-info span {
        font-family: "Lato", sans-serif; }
      .footer__recent-post-info span:not(:last-child) {
        margin-bottom: .3rem; }
    .footer__recent-post-title {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #FFFFFF; }
    .footer__recent-post-date {
      font-size: 1.4rem; }
  .footer__photo-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-content: space-between;
    grid-gap: 1rem; }
    .footer__photo-grid-item {
      overflow: hidden; }
      .footer__photo-grid-item img {
        width: 100%; }
  .footer input {
    font-family: "Lato", sans-serif;
    width: 100%;
    padding: 1rem 1.8rem;
    border: 1px solid #7C7C7C;
    background-color: transparent;
    outline: none;
    color: #FFFFFF;
    font-size: 1.4rem; }
    .footer input::placeholder {
      color: #7C7C7C; }
    .footer input--message {
      height: 7.2rem; }
  .footer textarea {
    width: 100%;
    padding: 1rem 0 3rem 1.8rem;
    background-color: transparent;
    outline: none;
    font-family: "Lato", sans-serif;
    border: 1px solid #7C7C7C;
    color: #FFFFFF;
    font-size: 1.4rem; }
  .footer__send-btn {
    height: 2.7rem;
    width: 6.5rem;
    background-color: #FD4100;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0; }
  .footer__sub-contents {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between; }
  .footer__rights {
    color: #999999;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px; }
  .footer__list {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none; }
    .footer__list-item:not(:last-child) {
      padding: .3rem 2rem; }
      .footer__list-item:not(:last-child)::after {
        height: 1.3rem;
        width: 1px;
        content: "";
        display: inline-block;
        background-color: #999999;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%); }
    .footer__list-item:last-child {
      padding: .3rem 0 .3rem 2rem; }
    .footer__list-item a,
    .footer__list-item a:visited {
      color: #FFFFFF;
      text-decoration: none;
      color: #999999;
      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;
      text-transform: uppercase; }

.section-customer-reviews {
  padding: 11.5rem 0 11.6rem 0; }

.section-pricing {
  padding-top: 10.8rem;
  padding-bottom: 13.3rem; }
  .section-pricing__cards {
    align-items: center;
    display: flex;
    justify-content: center; }
    .section-pricing__cards .pricing-card:not(last-child) {
      margin-right: 2rem; }

.section-about {
  padding: 8.6rem 0 8.8rem 0;
  text-align: center; }
  .section-about__picture {
    overflow: hidden; }
    .section-about__picture--small {
      height: 38rem;
      width: 55rem; }
    .section-about__picture--big {
      height: 46.8rem;
      width: 55rem; }
    .section-about__picture img {
      width: 100.5%;
      vertical-align: middle; }
  .section-about__info {
    float: right;
    width: 54.5rem; }
  .section-about__extra-content {
    margin-top: 3.5rem; }
