//------------ HOME ----------
%title-divider-line {
    content: "";
    display: inline-block;
    width: 10rem;
    height: 1px;
    position: absolute;
    top: 50%;
    background-color: $color-grey-light-2;
}
