@mixin absCenter {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin flexCenter {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@mixin flexCenter-row {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin size($w, $h) {
    height: $h;
    width: $w;
}