// COLORS
$color-primary: #FD4100;

$color-grey-light-1: #F5F5F5;
$color-grey-light-2: #e0e0e0;
$color-grey-light-3: #999999;
$color-grey-light-4: #7C7C7C;

$color-grey-dark-1: #333333;
$color-grey-dark-2: #3E3E3E;

$color-black: #222222;
$color-white: #FFFFFF;

//FONT
$default-font-size: 1.6rem;
$font-family-1: 'Montserrat', sans-serif;
$font-family-2: 'Lato', sans-serif;

// PADDING
$padding-section: 6rem;

// ROW 
$row-content-max-width: 118rem;