// container 基本上 flex-direction 是 column 的
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--dark {
        background-color: $color-grey-light-1;
    }

    &--light {
        background-color: $color-white;
    }
}

// 註解：
// Use .container-fluid for a full width container, 
// spanning the entire width of your viewport.

// container 基本上 flex-direction 是 row 的
.row {
    max-width: $row-content-max-width;
    width: $row-content-max-width;
    margin: 0 auto;
}

.row-space-between {
    width: $row-content-max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
}