.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

//--------- HOMEPAGE ---------
.paragraph-home-title {
    display: block;
    width: 50rem;
}

.paragraph-home-about {
    display: block;
    margin-top: 2rem;
    width: 100%;
}