// 之所以沒有重構成一個 section ui 是因為不同 page 的 section-introduction 會有不同的 padding(樣板很怪)
.introduction {

    &__video {
        height: 37rem;

        video {
            height: 100%;
        }
    }

    &__info {
        @include flex-column-center;
        width: 38%;

        p {
            display: block;
            margin-top: 3.5rem;
            width: 100%;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        width: 100%;
    }

    &__list-item {
        cursor: pointer;
        display: inline-block;
        font-size: .2rem;
        font-family: $font-family-1;
        letter-spacing: 1px;
        padding: .8rem 2rem;
        text-align: center;
        text-transform: uppercase;
        width: 33.3333333%;

        &--active {
            color: $color-grey-dark-1;
            background-color: $color-white;
            border-top: 2px solid $color-primary;
            border-right: 2px solid $color-grey-light-2;
            border-left: 2px solid $color-grey-light-2;
        }

        &--inactivated {
            color: $color-grey-light-3;
            background-color: $color-grey-light-1;
            border-bottom: 2px solid $color-grey-light-2;

            &:not(:last-child) {
                &::after {
                    @include size(1px,65%);
                    background-color: $color-grey-light-2;
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}