*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    
    // DEBUG
    // border: 1px solid #12fffc !important;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;  // 1rem = 9px
    }
}

body {
    box-sizing: border-box;
}

section:nth-child(even) {
    background-color: $color-grey-light-1;
}

section:nth-child(odd) {
    background-color: $color-white;
}

section:last-child {
    background-color: $color-primary;
}


