//--------------- SECTION-DETAIL ---------------
.section-detail {
    padding: 13rem 0 17.2rem 0;
}
//--------------- SECTION-INFO-BOXES ---------------
.section-info-boxes {
    @include flex-row-space-between;
    @include center-row;
    padding: 17.4rem 0 13.5rem 0;

    @include respond(tab-port) {
        @include flex-column-center;
        padding: 10.5rem 0 8rem 0;
    }
}
