//--------------- SECTION-DETAIL ---------------
.section-detail {
    padding-top: 13rem;
    padding-bottom: 17.2rem;

    @include respond(tab-port) {
        padding-top: 13rem;
        padding-bottom: 13rem;
    }
}
//--------------- SECTION-INFO-BOXES ---------------
.section-info-boxes {
    @include flex-row-center;
    @include center-row;
    padding-top: 17.4rem;
    padding-bottom: 13.5rem;

    @include respond(tab-port) {
        @include flex-column-center;
        padding-top: 10.5rem;
        padding-bottom: 8rem;
    }

    & > .content-box:nth-child(2) {
        margin: 0 2rem;

        @include respond(tab-port) {
            margin: 0;
        }
    }
}
