//--------------- SECTION-CONTACTS ---------------
.section-formal-contacts {
    @include center-row;
    padding: 12rem 0 11.5rem 0;

    &__contents {
        @include flex-row-center;
        align-items: flex-start;   
    }
}
//--------------- MAP ---------------
#map {
    width: 100%;
    margin-bottom: 9.6rem;
    height: 40rem;
    border: 0;
}
//--------------- FORMAL-CONTACT-FORM ---------------
.formal-contact-form {
    @include flex-column-center;
    align-items: flex-start;
    flex: 1;
    margin-right: 3.2rem;
    line-height: 1;

    &__titie-block {
        @include flex-row-center;
        width: 100%;
        margin-bottom: 3rem;
    }

    &__title-line {
        height: 1px;
        background-color: $color-grey-light-2;
        flex: 1;
    }

    &__title {
        font-family: $font-family-1;
        font-size: 1.8rem;
        color: $color-primary;
        margin-right: 3.8rem;
        line-height: 1;
    }

    &__sub-title {
        margin-bottom: 3.8rem;
        font-family: $font-family-2;
        font-size: 1.8rem;
        font-style: italic;
        color: $color-grey-light-3;
    }

    input {
        border: none;
        padding: 2rem 0 2rem 2.8rem;
        margin-bottom: 2rem;
        font-family: $font-family-1;
        font-size: 1.4rem;
        width: 100%;
        background-color: $color-grey-light-1;
        color: $color-black;
    }

    input::placeholder {
        color: $color-grey-light-3;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $color-grey-light-1 inset !important;
        -webkit-text-fill-color: $color-black !important;
    }

    textarea {
        border: none;
        padding: 2rem 0 0 2.8rem;
        margin-bottom: 3.3rem;
        height: 12.6rem;
        font-family: $font-family-1;
        font-size: 1.4rem;
        width: 100%;
        background-color: $color-grey-light-1;
        color: $color-black;
    }

    textarea::placeholder {
        color: $color-grey-light-3;
    }

    textarea:focus, input:focus {
        outline: 2px solid $color-grey-light-3;
    }
}
//--------------- FORMAL-CONTACT-INFO ---------------
.formal-contact-info {
    width: 28rem;

    &__content {
        @include flex-column-center;
        align-items: flex-start;
        padding-bottom: 5.5rem;
    }

    &__title-block {
        @include flex-row-center;
        width: 100%;
        margin-bottom: 4rem;
    }

    &__title-line {
        height: 1px;
        background-color: $color-grey-light-2;
        flex: 1;
    }

    &__title {
        font-family: $font-family-1;
        font-size: 1.8rem;
        color: $color-primary;
        margin-right: 1.2rem;
        line-height: 1;
    }

    &__detail {
        @include flex-column-center;
        align-items: flex-start;
        
        span {
            line-height: 1;
            font-family: $font-family-2;
            font-size: 1.3rem;
            color: $color-grey-light-3;

            @include respond(tab-land) {
                font-size: 1.5rem;
            }
        }

        span:not(:first-child) {
            margin-top: 1.2rem;
        }
    }

    &__social-media {
        @include flex-row-center;
        justify-content: flex-start;

        &-icon:not(:last-child) {
            margin-right: .9rem;
        }

        &-icon {
            @include size(3.8rem, 3.8rem);
            cursor: pointer;
            border: 1px solid $color-grey-light-3;
        }

        svg {
            @include abs-center;
            @include size(1.4rem, 1.4rem);
            fill: $color-grey-light-3;
            vertical-align: middle;
        }
    }
}

