//--------------- SECTION-CONTACTS ---------------
.section-formal-contacts {
    @include center-row;
    padding-top: 12rem;
    padding-bottom: 11.5rem;

    @include respond(phone) {
        padding-top: $phone-section-side-padding;
        padding-bottom: $phone-section-side-padding;
    }

    &__contents {
        @include flex-row-center;
        align-items: flex-start;   
        
        @include respond(tab-port) {
            @include flex-column-center;
        }
    }
}
//--------------- MAP ---------------
#map {
    width: 100%;
    margin-bottom: 9.6rem;
    height: 40rem;
    border: 0;

    @include respond(phone) {
        margin-bottom: 5rem;
        height: 30vh;
    }
}
//--------------- FORMAL-CONTACT-FORM ---------------
.formal-contact-form {
    @include flex-column-center;
    align-items: flex-start;
    flex: 1;
    margin-right: 3.2rem;
    line-height: 1;
    
    @include respond(tab-port) {
        margin-right: 0rem;
        margin-bottom: 10rem;
        width: 100%;
    }

    @include respond(phone) {
        margin-bottom: 7rem;
    }

    &__titie-block {
        @include flex-row-center;
        width: 100%;
        margin-bottom: 3rem;
    }

    &__title-line {
        height: 1px;
        background-color: $color-grey-light-2;
        flex: 1;
    }

    &__title {
        font-family: $font-family-1;
        font-size: 1.8rem;
        color: $color-primary;
        margin-right: 3.8rem;
        line-height: 1;
        font-weight: 400;

        @include respond(tab-port) {
            font-size: 2rem;
            margin-right: 1rem;
        }
    }

    &__sub-title {
        margin-bottom: 3.8rem;
        font-family: $font-family-2;
        font-size: 1.8rem;
        font-style: italic;
        color: $color-grey-light-3;
    }

    input {
        border: none;
        padding: 2rem 0 2rem 2.8rem;
        margin-bottom: 2rem;
        font-family: $font-family-1;
        font-size: 1.4rem;
        width: 100%;
        background-color: $color-grey-light-1;
        color: $color-black;
    }

    input::placeholder {
        color: $color-grey-light-3;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $color-grey-light-1 inset !important;
        -webkit-text-fill-color: $color-black !important;
    }

    textarea {
        border: none;
        padding: 2rem 0 0 2.8rem;
        margin-bottom: 3.3rem;
        height: 12.6rem;
        font-family: $font-family-1;
        font-size: 1.4rem;
        width: 100%;
        background-color: $color-grey-light-1;
        color: $color-black;
    }

    textarea::placeholder {
        color: $color-grey-light-3;
    }

    textarea:focus, input:focus {
        outline: 2px solid $color-grey-light-3;
    }
}
//--------------- FORMAL-CONTACT-INFO ---------------
.formal-contact-info {
    width: 28rem;
    
    @include respond(tab-port) {
        width: 100%;    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3rem;
    }

    @include respond(phone) {  
        @include flex-column-center;
    }
    

    &__content {
        @include flex-column-center;
        align-items: flex-start;
        padding-bottom: 5.5rem;

        &:not(:last-child) {
            @include respond(phone) {
                margin-bottom: 6rem;
            }
        }

        @include respond(tab-port) {
            padding-bottom: 0rem;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &__title-block {
        @include flex-row-center;
        width: 100%;
        margin-bottom: 4rem;

        @include respond(tab-port) {
            margin-bottom: 3rem;
        }
    }

    &__title-line {
        height: 1px;
        background-color: $color-grey-light-2;
        flex: 1;
    }

    &__title {
        font-family: $font-family-1;
        font-size: 1.8rem;
        color: $color-primary;
        margin-right: 1.2rem;
        line-height: 1;
        font-weight: 400;

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }

    &__detail {
        @include flex-column-center;
        align-items: flex-start;
        
        span {
            line-height: 1;
            font-family: $font-family-2;
            font-size: 1.3rem;
            color: $color-grey-light-3;

            @include respond(tab-land) {
                font-size: 1.4rem;
            }

            @include respond(tab-port) {
                font-size: 1.8rem;
            }
        }

        span:not(:first-child) {
            margin-top: 1.2rem;
        }
    }

    &__social-media {
        @include flex-row-center;
        justify-content: flex-start;
        
        @include respond(tab-port) {
            top: 1rem;
        }

        @include respond(phone) {
            margin-top: 1rem;
            top: 0;
        }

        &-icon:not(:last-child) {
            margin-right: .9rem;
        }

        &-icon {
            @include size(3.8rem, 3.8rem);
            cursor: pointer;
            border: 1px solid $color-grey-light-3;

            @include respond(tab-port) {
                @include size(5.7rem, 5.7rem);
            }
        }

        svg {
            @include abs-center;
            @include size(1.4rem, 1.4rem);
            fill: $color-grey-light-3;
            vertical-align: middle;

            @include respond(tab-port) {
                @include size(2.8rem, 2.8rem);
            }
        }
    }
}

