//--------------- HEADER ---------------
.home-header {
    background-image: url(/img/photos/showoff_01.webp);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    // height: 90vh;
    height: 100vh;

    &__content {   
        @include abs-center;   
        @include flex-column-center;
    }

    &__slogans {
        margin-bottom: 2.5rem;
    }

    &__title {
        letter-spacing: -.5rem;
        white-space: nowrap;
        color: $color-white;
        display: inline-block;
        font-family: $font-family-1;
        font-size: 10rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;

        @include respond(tab-land) {
            font-size: 7rem;
            letter-spacing: 1px;
        }
    }

    &__subtitle {
        margin-bottom: 1rem;
        vertical-align: top;
        line-height: 1;
        color: $color-white;
        display: inline-block;
        font-weight: 300;
        font-family: $font-family-2;
        font-size: 2.4rem;
        letter-spacing: 2px;
        text-transform: uppercase;

        @include respond(tab-land) {
            font-size: 2rem;
        }
    }
}
//--------------- SECTION-INTRO ---------------
.section-intro {
    background-color: $color-white;
    padding: 18rem 0 12rem 0;
}
//--------------- SECTION-TEAM ---------------
.section-team {
    
    @include flex-column-center;
    
    background-color: $color-grey-light-1;
    padding-top: $padding-section-top;

    &::after {
        content: "";
        bottom: 0;
        display: inline-block;
        position: absolute;
        right: 0;
    }

    &__photos {
        @include flex-row-space-between;
        @include center-row;
    }

    &__photo {
        width: 30%;
        align-items: flex-end;

        // &:not(:last-child)::after {
        //     @include size(1px, 270%);
        //     background-color: $color-grey-light-2;
        //     content: "";
        //     display: inline-block;
        //     position: absolute;
        //     right: 0;
        //     top: 50%;
        //     transform: translate(calc(50% + 2.5rem), calc(-50% - 2rem));
        // }

        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

//--------------- SECTION-GALLERY ---------------
.section-gallery {
    @include center-row;
    @include flex-column-center;
    padding-top: $padding-section-top;
    padding-bottom: 7.2rem;
    
    &__photo-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-bottom: 7rem;

        @include respond(tab-land) {
            margin-bottom: 5rem;
        }
    }

    &__photo {
        justify-self: stretch;
        height: 34.8rem;
        overflow: hidden;

        img {
            @include abs-center;
            height: 108%;
            transition: .35s;
        }

        &:hover {

            img {
                height: 102%;
            }
        }
    } 
}
//--------------- SECTION-CONTENT_BOXES ---------------
.section-content-boxes {
    @include flex-row-space-between;
    @include center-row;
    padding: 15rem 0 10rem 0;
}
//--------------- SECTION-EVENTS ---------------
.section-events {
    background-color: $color-grey-light-1;
    padding-top: $padding-section-top;
    padding-bottom: 13rem;
    text-align: center;

    &__contents {
        @include center-row;
    }
}
//--------------- SECTION-WHY ---------------
.section-why {
    @include center-row;
    @include flex-row-space-between;
    padding: 12rem 0;

    &__info {
        width: 50%;
        margin-right: 8.5rem;

        @include respond(tab-land) {
            margin-right: 3rem;
        }
    }

    &__chart {
        flex: 1;
    }

    .progress:not(:last-child) {
        margin-bottom: 3rem;
    }
}




