//--------------- HEADER ---------------
.home-header {
    background-image: url(/img/photos/showoff_01.webp);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 100vh;

    @include respond(tab-port) {
        height: 65vh;
    }

    @include respond(phone) {
        height: 60vh;
    }

    &__content {   
        @include abs-center;   
        @include flex-column-center;
    }

    &__slogans {
        margin-bottom: 2.5rem;
    }

    &__title {
        letter-spacing: -.5rem;
        white-space: nowrap;
        color: $color-white;
        display: inline-block;
        font-family: $font-family-1;
        font-size: 10rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;

        @include respond(tab-land) {
            font-size: 7rem;
            letter-spacing: 1px;
        }

        @include respond(tab-port) {
            font-size: 5rem;
        }

        @include respond(phone) {
            top: 2rem;
            font-size: 3rem;
        }
    }

    &__subtitle {
        margin-bottom: 1rem;
        vertical-align: top;
        line-height: 1;
        color: $color-white;
        display: inline-block;
        font-weight: 300;
        font-family: $font-family-2;
        font-size: 2.4rem;
        letter-spacing: 2px;
        text-transform: uppercase;

        @include respond(tab-land) {
            font-size: 2rem;
        }

        @include respond(tab-port) {
            font-size: 1.5rem;
            margin-top: 5rem;
        }

        @include respond(phone) {
            display: inline-block;
            padding: 0 2rem;
            letter-spacing: 1px;
            line-height: 1.3;
            top: .6rem;
            position: absolute;
        }
    }

    &__discover-btn {
        @media only screen and (max-width: 56.25em) {
            display: none !important;
        }
    }
}
//--------------- SECTION-INTRO ---------------
.section-intro {
    background-color: $color-white;
    padding-top: 18rem;
    padding-bottom: 12rem;

    @include respond(tab-port) {
        padding-top: 12rem;
    }

    @include respond(phone) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
//--------------- SECTION-TEAM ---------------
.section-team {
    @include flex-column-center;
    
    background-color: $color-grey-light-1;
    padding-top: $padding-section-top;

    @include respond(phone) {
        padding-top: 8rem;
    }

    &::after {
        content: "";
        bottom: 0;
        display: inline-block;
        position: absolute;
        right: 0;
    }

    &__photos {
        @include flex-row-space-between;
        @include center-row;
    }

    &__photo {
        width: 30%;
        align-items: flex-end;

        img {
            width: 100%;
            vertical-align: middle;
        }

        &:not(:last-child) {
            @include respond(tab-port) {
                margin-right: 1rem;
            }
        }

        @include respond(tab-port) {
            @include size(100%, 30rem);
            overflow: hidden;
        }
    }
}

//--------------- SECTION-GALLERY ---------------
.section-gallery {
    @include center-row;
    @include flex-column-center;
    padding-top: $padding-section-top;
    padding-bottom: 10rem;

    @include respond(phone) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    
    &__photo-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-bottom: 7rem;

        @include respond(tab-land) {
            margin-bottom: 5rem;
        }

        @include respond(tab-port) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        }

        @include respond(phone) {

            & > a:nth-child(5),  & > a:nth-child(6){
                display: none;
            }
        }
    }

    &__photo {
        justify-self: stretch;
        height: 34.8rem;
        overflow: hidden;

        @include respond(tab-port) {
            height: 45rem;
        }

        img {
            @include abs-center;
            height: 108%;
            transition: .35s;
        }

        &:hover {
            img {
                height: 102%;
            }
        }
        

        @include respond(phone) {
            height: 20rem;

            img {
                @include size(100%, auto);
            }

            &:hover {
                img {
                    @include size(108%, auto);
                }
            }
        }
    } 
}
//--------------- SECTION-CONTENT_BOXES ---------------
.section-content-boxes {
    @include flex-row-center;
    @include center-row;
    padding-top: 15rem;
    padding-bottom: 10rem;

    @include respond(tab-port) {
        @include flex-column-center;
        padding-bottom: 12rem;
    }

    @include respond(phone) {
        padding-top: 8rem;
        padding-bottom: 6rem;
    }

    & > .content-box:nth-child(2) {
        margin: 0 2rem;

        @include respond(tab-port) {
            margin: 0;
        }
    }
}
//--------------- SECTION-EVENTS ---------------
.section-events {
    background-color: $color-grey-light-1;
    padding-top: $padding-section-top;
    padding-bottom: 13rem;
    text-align: center;

    @include respond(phone) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    &__contents {
        @include center-row;
    }
}
//--------------- SECTION-WHY ---------------
.section-why {
    @include center-row;
    @include flex-row-space-between;
    padding-top: 12rem;
    padding-bottom: 12rem;

    @include respond(tab-port) {
        @include flex-column-center;
    }

    @include respond(phone) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    &__info {
        width: 50%;
        margin-right: 8.5rem;

        @include respond(tab-land) {
            margin-right: 3rem;
        }

        @include respond(tab-port) {
            @include flex-column-center;
            margin-right: 0rem;
            margin-bottom: 5rem;
            width: 90%;
        }

        @include respond(tab-port) {
            margin-bottom: 7rem;
        }
    }

    &__chart {
        flex: 1;

        @include respond(tab-land) {
            width: 90%;
        }
    }

    .progress:not(:last-child) {
        margin-bottom: 3rem;
    }
}




