//--------------- SECTION-DESCRIPTION-BOXES ---------------
.section-description-boxes {
    @include flex-row-center;
    @include center-row;
    padding-top: 13.9rem;
    padding-bottom: 9.4rem;

    @include respond(tab-port) {
        @include flex-column-center;
        padding-top: 11rem;
        padding-bottom: 8rem;
    }

    @include respond(phone) {
        padding-top: 8rem;
        padding-bottom: 6rem;
    }

    & > .content-box:nth-child(2) {
        margin: 0 2rem;

        @include respond(tab-port) {
            margin: 0;
        }
    }
}