.btn {
    text-align: center;
    text-transform: uppercase;
    font-family: $font-family-1;
    font-weight: 400;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn-transparent {
    
    &--big-white {
        @extend %btn-big-normal;
        background-color: transparent;
        border: 1px solid $color-white;

        &:hover,
        &:active {
            @extend %btn-big-click;
            background-color: $color-primary;
            border: 1px solid $color-primary;
        }

        a {
            @include absCenter;
            color: $color-white;
            text-decoration: none;
        }
    }

    &--big-grey {
        @extend %btn-big-normal;

        background-color: transparent;
        border: 1px solid $color-grey-light-2;

        &:hover,
        &:active {
            @extend %btn-big-click;
            background-color: $color-primary;
            border: 1px solid $color-primary;

            a {
                color: $color-white; 
            }
        }

        a {
            @include absCenter;
            color: $color-grey-dark-1;
            text-decoration: none;
        }
    }

}