.navigation {
    &__nav {
        position: fixed;
        top: 1.4rem;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: top;
        z-index: 1500;
        display: flex;
        align-items: center;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% + 2.5rem));
            width: 100vw;
            height: 1px;
            background-color: $color-grey-light-3;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        margin-left: 3rem;
        margin-top: .3rem;

        &::after {
            content: "";
            display: block;
            position: absolute;
            right: -1.5rem;
            top: 50%;
            transform: translate(-50%, -50%);

            width: 1px;
            height: 2rem;
            margin-left: 1rem;
            background-color: $color-grey-light-3;
            
            
        }
    }

    &__item {
        margin-left: -.5rem;
        width: 8rem;
        text-align: center;

        &::before {
            content: "";
            width: 3rem;
            height: 3px;
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform-origin: top;
            transform: translateX(-50%) translateY(calc(-50% - 2.7rem)) scaleX(0);
            background-color: $color-primary;
            transition: all .15s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        }

        &:hover::before {
            transform: translateX(-50%) translateY(calc(-50% - 2.7rem)) scaleX(1);
        }

        
    }


    &__link {
        display: inline-block;
        padding: .3rem .5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s;
    }
}