.navigation {
    width: 100vw;
    padding: 2.5rem 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba($color-black, .7);
    z-index: 1000;
    border-bottom: 1px solid $color-grey-light-3;

    &__nav {
        margin: 0 auto;
        width: $row-content-max-width;
        z-index: 1500;
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        list-style: none;
        margin-left: 3rem;
        margin-top: .3rem;
    }

    &__item {
        margin-left: -.5rem;
        text-align: center;
        padding: 0 1.5rem;

        &::before {
            content: "";
            @include size(calc(100% - 3.8rem),3px);
            background-color: $color-primary;
            display: inline-block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform-origin: top;
            transform: translateX(-50%) translateY(calc(-50% - 1.8rem)) scaleX(0);
            transition: all .15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        &:hover::before {
            transform: translateX(-50%) translateY(calc(-50% - 1.8rem)) scaleX(1);
        }
    }

    &__link {
        color: $color-white;
        display: inline-block;
        font-family: $font-family-1;
        padding: .3rem .5rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s;
    }
    
    &__logo-box {
        align-items: center;
        display: flex;
    
        img {
            width: 2rem;
            
        }
        span {
            color: $color-white;
            font-family: $font-family-1;
            font-weight: 700;
            font-size: 1.5rem;
            letter-spacing: .2rem;
            margin-left: .8rem;
            text-transform: uppercase;
        }
    }
}