.title-divider {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__icon {
        @include size(2.5rem,2.5rem);
        margin: 1rem 0;
        
        svg {
            @include size(100%,100%);
            @include absCenter;
            fill: $color-grey-light-3;
        }
        
        &::before {
            @extend %title-divider-line;
            right: 0;
            transform: translate(-3.5rem,-50%);
        }

        &::after {
            @extend %title-divider-line;
            left: 0;
            transform: translate(3.5rem,-50%);
        }
    }
}