.title-divider {
    @include flex-column-center;
    margin-bottom: 7rem;

    h2 {
        line-height: 1;
    }

    &__icon {
        @include size(2.5rem,2.5rem);
        margin: 1.2rem 0;
        
        svg {
            @include size(100%,100%);
            fill: $color-grey-light-3;
        }
        
        &::before {
            @extend %title-divider-line;
            right: 0;
            transform: translate(-3.5rem,-50%);
        }

        &::after {
            @extend %title-divider-line;
            left: 0;
            transform: translate(3.5rem,-50%);
        }
    }

    p {
        text-align: center;
        display: block;
        width: 68rem;
    }
}