//--------------- SECTION-DETAIL ---------------
.section-detail {
    background-color: $color-white;
    padding: 13rem 0 17.2rem 0;
}
//--------------- SECTION-INFO-BOXES ---------------
.section-info-boxes {
    padding: 17.4rem 0 13.5rem 0;
}
