//--------------- SECTION-ABOUT-GUSTABLO ---------------
.section-detail {
    background-color: $color-white;
    padding: 13rem 0 17.2rem 0;
}
//--------------- SECTION-ABOUT-GUSTABLO ---------------
.section-about-gustablo {
    padding: 17.5rem 0 16rem 0;
    background-color: $color-grey-light-1;

    &__picture {
        @include size(45rem,68rem);
        position: absolute;
        bottom: 0;
        left: 36rem;
        overflow: hidden;

        img {
            width: 100.5%;
            vertical-align: middle;
        }
    }

    &__info {
        float: right;
        width: 54.5rem;
    }
}
//--------------- SECTION-INFO-BOXES ---------------
.section-info-boxes {
    padding: 17.4rem 0 13.5rem 0;
}