//--------------- HEADER ---------------
.home-header {
    height: 85vh;

    background-image: url(../img/home/showoff_01.jpg);                                
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    &__overlay {
        position: absolute;
        top: 0;
        height: 0;
        background-color: rgba($color-black, 1);
        opacity: .5;
        z-index: -1;
        @include size(100%,100%);
    }

    &__block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include absCenter;
    }

    &__content {
        @include flexCenter;
    }

    &__title {
        display: inline-block;
        font-family: $font-family-1;
        font-size: 5rem;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        margin-top: -1rem;
    }

    &__subtitle {
        display: inline-block;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        font-family: $font-family-2;
        font-size: 1.2rem;
        letter-spacing: 2px;
        
    }

    &__reservation-block {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);

        display: flex;
        justify-content: center;


        width: 65rem;
        height: 6.5rem;
        background-color: $color-primary;
    }

    &__reservarion-box {
        display: flex;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $color-white;
        padding: .5rem 1rem;
        width: 15rem;
        margin-right: 1rem;
        cursor: pointer;

        svg {
            width: 1.3rem;
            height: 1.3rem;
            fill: $color-white;
            
        }

        span {
            font-size: 5px;
            font-family: $font-family-1;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 300;
            color: $color-white;
            
        }
    }

    &__reservation-btn {
        background-color: $color-white;
        border: 1px solid $color-white;
        align-self: center;
        
        width: 12rem;
        padding: .5rem 2rem;
        cursor: pointer;

        a:link,
        a:visited {
            text-decoration: none;
            color: $color-grey-light-2;
            font-family: $font-family-1;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}

//--------------- SECTION-ABOUT ---------------
.section-about {
    position: relative;
    z-index: -1;
    
    background-color: $color-grey-light-3;
    padding: 13rem 0;

    &__contents {

        display: flex;
        justify-content: center;
    }

    &__info {

    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__list-item {
        background-color: blue;
        display: inline-block;
        padding: .6rem 2rem;
        border-top: 3px solid $color-primary;
        
        a:link,
        a:visited {
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-family-1;
            color: $color-grey-light-2;
        }
    }
}