//--------------- HEADER ---------------
.home-header {
    background-image: url(../img/home/showoff_01.jpg);                                
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 85vh;

    &__overlay {
        @include size(100%,100%);
        background-color: rgba($color-black, 1);
        height: 0;
        opacity: .5;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    &__block {
        @include absCenter;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    &__content {
        @include flexCenter;

        .btn-transparent--big-white {
            left: 50%;
            position: absolute;
            top: 50%;
        }
    }

    &__title {
        color: white;
        display: inline-block;
        font-family: $font-family-1;
        font-size: 5rem;
        font-weight: 700;
        margin-top: -1rem;
        text-transform: uppercase;
    }

    &__subtitle {
        color: white;
        display: inline-block;
        font-weight: 400;
        font-family: $font-family-2;
        font-size: 1.2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

//--------------- SECTION-ABOUT ---------------
.section-about {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    padding: $padding-section;

    // ---------- RESERVATION ----------
    &__reservation-block {
        @include size(65rem,6.5rem);
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%,-50%);    
    }

    &__reservarion-box {
        align-items: center;
        align-self: center;
        border: 1px solid $color-white;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        padding: .5rem 1rem;
        width: 15rem;

        svg {
            @include size(1.3rem,1.3rem);
            fill: $color-white;
        }

        span {
            color: $color-white;
            font-size: 5px;
            font-family: $font-family-1;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    &__reservation-btn {
        align-self: center;
        background-color: $color-white;
        border: 1px solid $color-white;
        cursor: pointer;
        padding: .5rem 2rem;
        width: 12rem;

        a:link,
        a:visited {
            color: $color-grey-light-3;
            font-family: $font-family-1;
            font-weight: 400;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    // ---------- CONTENTS ----------
    &__contents {
        align-items: center;
        display: flex;
        height: 30rem;
        justify-content: space-around;
        padding: 5rem 30rem 3rem 30rem;
    }

    &__video {
        @include size(auto,100%);
        margin-left: 3rem;
    }

    &__info {
        @include size(40rem,100%);
        display: flex;
        flex-direction: column;
    }

    &__list {
        display: flex;
        list-style: none;
        width: 100%;
    }

    &__list-item {
        cursor: pointer;
        display: inline-block;
        font-size: .2rem;
        font-family: $font-family-1;
        letter-spacing: 1px;
        padding: .8rem 2rem;
        text-align: center;
        text-transform: uppercase;
        width: 33.3333333%;

        &--active {
            color: $color-grey-dark-1;
            background-color: $color-white;
            border-top: 2px solid $color-primary;
            border-right: 2px solid $color-grey-light-2;
            border-left: 2px solid $color-grey-light-2;
        }

        &--inactivated {
            color: $color-grey-light-3;
            background-color: $color-grey-light-1;
            border-bottom: 2px solid $color-grey-light-2;
            
            &:not(:last-child) {
                &::after {
                    @include size(1px,65%);
                    background-color: $color-grey-light-2;
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

//--------------- SECTION-TEAM ---------------
.section-team {
    align-items: center;
    background-color: $color-grey-light-1;
    display: flex;
    flex-direction: column;
    padding-top: $padding-section;

    &::after {
        content: "";
        bottom: 0;
        display: inline-block;
        position: absolute;
        right: 0;
    }

    &__photos {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        width: 70rem;
    }

    &__photo {
        align-items: flex-end;
        display: flex;
        justify-content: center;

        &:not(:last-child)::after {
            @include size(1px,22rem);
            background-color: $color-grey-light-2;
            content: "";
            display: inline-block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(2.45rem,calc(-50% - 2rem));
        }

        img {
            @include size(20rem,auto);
        }
    }
}

//--------------- SECTION-GALLERY ---------------
.section-gallery {
    @include flexCenter-row;
    padding-top: $padding-section;

    &__button-block {
        @include size(100%,10rem);
    }

    .btn-transparent--big-grey {
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%,2rem);
    }

    &__photo-row {
        align-items: center;
        display: flex;
        justify-content: center;

        &:not(:last-child) {
            margin-bottom: .7rem;
        }
    }

    &__photos {
        margin: 0rem 0;
    }

    &__photo {
        @include size(20rem,20rem);
        overflow: hidden;

        &:not(:last-child) {
            margin-right: .7rem;
        }

        img {
            @include absCenter;
            width: 30rem;
        }
    }
}

//--------------- SECTION-PRICING ---------------
.section-pricing {
    background-color: $color-grey-light-1;
    padding-top: $padding-section;
    padding-bottom: $padding-section;

    &__cards {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }

    &__card {
        @include size(26rem,39rem);
        align-items: center;
        border: 2px solid $color-primary;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
    }

    &__card-banner {
        background-color: $color-primary;
        color: $color-white;
        font-family: $font-family-1;
        font-weight: 300;
        letter-spacing: 1px;
        padding: .5rem 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    &__card-contents {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        width: 100%;
    }

    &__price {
        color: $color-primary;
        font-family: $font-family-1;
        font-size: 5rem;
        font-weight: 500;

        &::before {
            content: "$";
            color: $color-grey-light-3;
            display: inline-block;
            font-size: 2rem;
            font-weight: 500;
            left: 0;
            position: absolute;
            top: 0;
            transform: translate(-1.5rem,1.3rem);
        }

        &::after {
            bottom: 0;
            content: "/MO";
            color: $color-grey-light-3;
            display: inline-block;
            font-size: 1rem;
            font-weight: 500;
            position: absolute;
            right: 0;
            transform: translate(2.3rem,-1.65rem);
        }
    }

    &__list {
        font-family: $font-family-2;
        font-size: 1.3rem;
        list-style: none;
        text-align: center;
        vertical-align: middle;
        width: 85%;

        &::before {
            @include size(100%,1px);
            background-color: $color-grey-light-2;
            content: "";
            display: block;
            transform: translateY(1rem);
        }
    }

    &__list-item {
        @include size(100%,2.3rem);
        border: none;
        border-bottom: 1px dotted $color-grey-light-2;

        &:first-child {
            margin-top: 2rem;
        }

        &:not(:first-child) {
            margin-top: .6rem;
        }
    }

    &__button {
        @include siez(46%,3rem);
        border: 1px solid $color-grey-light-2;
        font-family: $font-family-1;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;

        a {
            @include absCenter;
            color: $color-grey-light-3;
            text-decoration: none;
        }

    }


}