
.home-header {
    // display: flex;
    // flex-direction: column;
    height: 85vh;

    background-image: url(../img/home/showoff_01.jpg);
    filter: brightness(80%);
                                    
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    &__block {
        @include absCenter;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 5rem;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        
    }

    &__subtitle {
        color: white;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        
    }

    &__discover-btn{
        // background-color: red;
        // width: 5rem;
        // height: 5rem;
    }
}