.btn {
    // ---- 基本定義 ----
    &,
    &:link,
    &:visited {
        border: none;
        display: inline-block;
        font-size: 1.3rem;
        font-family: $font-family-1;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;

        @media only screen and (hover: hover) {
            transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        transform: translateY(-0.3rem) scale(1, 1.01);
    }

    &:active {
        @media only screen and (hover: hover) {
            box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
            transform: translateY(-1px) scale(1,1);
        }
    }

    // ---- 尺寸 ----
    &--big {
        padding: 1.2rem 6.8rem;
    }

    &--md {
        @include size(27rem, 5.2rem);
    }


    &--medium {
        padding: .5rem 2rem;
    }

    &--small {
        padding: 1rem 2.4rem;
    }


    // ---- Style ----
    &--transparent-light-txt,
    &--transparent-light-txt:link,
    &--transparent-light-txt:visited {
        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-white;
        letter-spacing: 0px;
    }

    &--transparent-light-txt:hover,
    &--transparent-light-txt:active {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        letter-spacing: 2px;
    }

    &--transparent-dark-txt,
    &--transparent-dark-txt:link,
    &--transparent-dark-txt:visited {
        color: $color-grey-light-3;
        background-color: transparent;
        border: 1px solid $color-grey-light-2;
        letter-spacing: 0px;
    }

    &--transparent-dark-txt:hover,
    &--transparent-dark-txt:active {
        color: $color-white;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        letter-spacing: 2px;
    }

    &--primary-solid,
    &--primary-solid:link, 
    &--primary-solid:visited {
        color: $color-white;
        background-color: $color-primary;
        letter-spacing: 0px;
    }

    &--primary-solid:hover,
    &--primary-solid:active {
        letter-spacing: 2px;
    }

    &--secondary,
    &--secondary:link,
    &--secondary:visited {
        color: $color-white;
        background-color: $color-grey-light-3;
        letter-spacing: 0px;
    }

    &--secondary:hover,
    &--secondary:active {
        letter-spacing: 2px;
    }
}
