.event-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 8rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 2rem;
        margin-bottom: 1rem;
    }

    &__item {
        justify-self: stretch;
        overflow: hidden;
        
        img, picture, source {
            @include abs-center;
            height: 102%;

            @include respond(tab-port) {
                height: 110%;
            }

            @include respond(phone) {
                width: auto;
                height: 100%;
            }
        }

        &--content {
            @include flex-column-center;
            padding: 8rem 4.5rem 6.5rem 4.5rem;
            line-height: 1;

            @include respond(tab-land) {
                padding: 8rem 3rem 6.5rem 3rem;
            }

            &:not(:last-child) {

                @include respond(tab-port) {
                    padding: 0rem 20% 5rem 20%;
                }
    
                @include respond(phone) {
                    padding: 0rem 20% 4rem 20%;
                }
            }

            &:last-child {
                @include respond(tab-port) {
                    padding: 0 20%;
                }
    
                @include respond(phone) {
                    padding: 0 20%;
                }
            }


            span:first-child {
                font-size: 2.2rem;
                color: $color-black;
                letter-spacing: 1px;

                @include respond(phone) {
                    margin-top: 1rem;
                    font-size: 3rem;
                }
            }

            span:nth-child(2) {
                margin: 1.6rem 0;
                font-size: 1.6rem;
                color: $color-primary;
                letter-spacing: 1px;

                @include respond(phone) {
                    font-size: 2rem;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }

            p {
                text-align: center;
                line-height: 1.6;
                margin-bottom: 2.5rem;

                @include respond(phone) {
                    margin-bottom: 1.8rem;
                }
            }

        }
    }

    
}