.navigation {
    width: 100vw;
    padding: 2.2rem 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba($color-black, .7);
    z-index: 1000;
    border-bottom: 1px solid $color-grey-light-3;

    &__nav {
        @include flex-row-space-between;
        @include center-row;
         z-index: 1500;
    }

    &__list {
        display: flex;
        list-style: none;
        margin-top: .3rem;
        left: 1.5rem;
    }

    &__item {
        margin-left: -.5rem;
        text-align: center;
        padding: 0 1.5rem;

        &::before {
            content: "";
            @include size(calc(100% - 2.8rem),3px);
            background-color: $color-primary;
            display: inline-block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform-origin: top;
            transform: translateX(-50%) translateY(calc(-50% - 4.2rem)) scaleX(0);
            transition: all .15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        &:hover::before {
            transform: translateX(-50%) translateY(calc(-50% - 4.2rem)) scaleX(1);
        }
    }

    &__link {
        display: inline-block;
        padding: .3rem .5rem;
        color: $color-white;
        font-size: 1.3rem;
        font-weight: 300;
        font-family: $font-family-1;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all .3s;

        @include respond(tab-land) {
            font-size: 1.4rem;
        }
    }
    
    &__logo {
        align-items: center;
        display: flex;
        text-decoration: none;

        img {
            width: 4rem;
        }
    
        span {
            margin-left: 1rem;
            color: $color-white;
            font-family: $font-family-1;
            font-weight: 700;
            font-size: 2.6rem;
            letter-spacing: .2rem;
            text-transform: uppercase;
            line-height: 1;
        }
    }
}