.common-page-header {
    height: 45vh;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

    &--about {
        background-image: linear-gradient(to bottom, rgba($color-black, .65), rgba($color-primary, .35)), url("https://i.imgur.com/AU00iHh.jpg");
        @include respond(phone) {
            background-image: linear-gradient(to bottom, rgba($color-black, .65), rgba($color-primary, .35)), url("https://i.imgur.com/dFMvwMs.jpg");
        }
    }

    &--services {
        background-image: linear-gradient(to bottom, rgba($color-black, .65), rgba($color-primary, .35)), url("https://i.imgur.com/Ro4AvB9.jpg");
        @include respond(phone) {
            background-image: linear-gradient(to bottom, rgba($color-black, .65), rgba($color-primary, .35)), url("https://i.imgur.com/INElijO.jpg");
        }
    }

    &--pricing {
        background-image: linear-gradient(to bottom, rgba($color-black, .65), rgba($color-primary, .35)), url("https://i.imgur.com/5tAEoZX.jpg");
        @include respond(phone) {
            background-image: linear-gradient(to bottom, rgba($color-black, .65), rgba($color-primary, .35)), url("https://i.imgur.com/Za1k4zG.jpg");
        }
    }

    &--contacts {
        background-image: linear-gradient(to bottom, rgba($color-black, .65), rgba($color-primary, .35)), url("https://i.imgur.com/vA80D7t.jpg");
        @include respond(phone) {
            background-image: linear-gradient(to bottom, rgba($color-black, .65), rgba($color-primary, .35)), url("https://i.imgur.com/Vosa24v.jpg");
        }
    }

    &__contents {
        display: inline-block;
        padding-top: 20rem;
        padding-bottom: 12.5rem;
    }

    &__slogan {
        display: inline-block;
        margin-top: 1.4rem;
        font-family: $font-family-2;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1;
        color: $color-white;
        letter-spacing: 2px;
        text-transform: uppercase;
        word-spacing: 3px;
        animation-delay: .3s;

        @include respond(phone) {
            letter-spacing: 1px;
            font-size: 1rem;
            margin-top: 1rem;
            line-height: 1.3;
            display: inline-block;
            padding: 0 8rem;
        }
    }
}