// 之所以沒有重構成一個 section ui 是因為不同 page 的 section-introduction 會有不同的 padding(樣板很怪)
.introduction {
    @include center-row;
    @include flex-row-space-between;
    align-items: flex-start;
    
    @include respond(tab-port) {
        @include flex-column-center;
    }

    //--- 只有是手機小畫面的時候才會顯示
    &__phone-view {
        display: none;

        @media only screen and (max-width: 56.25em) { // 900px = tab-port
            display: block;
        }
        margin-bottom: 5rem;

        @include respond(phone) {
            margin-bottom: 2rem;
        }

        & > div:not(:last-child) {
            margin-bottom: 5rem;
        }


    }

    &__phone-view-content {
        margin: 0 auto;
        width: 90%;

        & > h2 {
            text-align: left;
            margin-bottom: 1.6rem;
        }
    }

    &__video {
        width: 58%;
        height: 38rem; // for iframe

        @include respond(tab-land) {
            height: 35rem;
        }

        @include respond(tab-port) {
            width: 90%;
            height: 45rem;
        }

        @include respond(phone) {
            height: 23rem;
        }

        // video {
        //     width: 100%;
        //     outline: none;

        //     @include respond(tab-port) {
        //         vertical-align: middle;
        //     }
        // }
    }

    &__info {
        @include flex-column-center;
        width: 38%;

        @media only screen and (max-width: 56.25em) { // 900px = tab-port
            display: none;
        }

        p {
            display: block;
            margin-top: 3.5rem;
            width: 100%;

            @include respond(tab-port) {
                height: 20rem;
            }
        }

        @include respond(tab-port) {
            width: 90%;
            margin-bottom: 6.5rem;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        width: 100%;
    }

    &__list-item {
        cursor: pointer;
        display: inline-block;
        font-size: .2rem;
        font-family: $font-family-1;
        letter-spacing: 1px;
        padding: .8rem 2rem;
        text-align: center;
        text-transform: uppercase;
        width: 33.3333333%;

        &--active {
            color: $color-grey-dark-1;
            background-color: $color-white;
            border-top: 2px solid $color-primary;
            border-right: 2px solid $color-grey-light-2;
            border-left: 2px solid $color-grey-light-2;
        }

        &--inactivated {
            color: $color-grey-light-3;
            background-color: $color-grey-light-1;
            border-bottom: 2px solid $color-grey-light-2;

            &:not(:last-child) {
                &::after {
                    @include size(1px,65%);
                    background-color: $color-grey-light-2;
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(50%, -50%);
                }
            }
        }
    }
}