.section-subscribe {
    padding-top: 6.5rem;
    padding-bottom: 5rem;
    background-color: $color-primary;

    @include respond(phone) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &__block {
        width: 84rem;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 90%;
        }
    }

    &__title {
        font-family: $font-family-1;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $color-white;
        letter-spacing: 2px;
        line-height: 1;
        font-weight: 400;

        @include respond(phone) {
            font-size: 1.8rem;
        }
    }

    &__content {
        @include flex-row-center;
        justify-content: space-between;

        button {
            @include size(2rem, 2rem);
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        svg {
            @include size(100%, 100%);
            fill: $color-white;
        }
    }

    &__input {
        @include size(100%, 3.5rem);
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $color-white;
        background-color: transparent;
        color: $color-white;
        letter-spacing: 2px;
        font-size: 1.3rem;

        &:focus {
            outline: none;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px $color-primary inset;
            -webkit-text-fill-color: $color-white;
        } 
    }
}