.section-about {
    padding-top: 8.6rem;
    padding-bottom: 8.8rem;
    text-align: center;

    @include respond(phone) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    &__contents {
        @include flex-row-space-between;
        @include center-row;

        @include respond(tab-land) {
            @include flex-column-center;
        }
    }

    &__picture {
        overflow: hidden;
        margin-right: 5rem;

        @include respond(tab-land) {
            margin-right: 0rem;
            margin-bottom: 5rem;
        }

        &--small {
            @include size(48%, 38rem);

            @include respond(tab-land) {
                width: 80%;
            }
        }

        &--big {
            @include size(48%, 46.8rem);

            @include respond(tab-land) {
                @include size(60%, 30rem);

                & img {
                    // transform: translate(-50%, calc(-50% + 14.5rem)) !important;
                }
            }
        }

        img {
            @include abs-center;
            // width: 100.5%;
            height: 100%;
            vertical-align: middle;
            object-fit: contain;
        }
    }

    &__info {
        flex: 1;

        @include respond(tab-land) {
            width: 90%;
        }
    }

    &__extra-content {
        margin-top: 3.5rem;
        
        @include respond(tab-land) {
            width: 12rem;
            margin-top: 3rem;
        }
    }
}