.section-customer-reviews {
    @include flex-row-space-between;
    @include center-row;
    padding-top: 11.5rem;
    padding-bottom: 11.6rem;

    @include respond(tab-port) {
        @include flex-column-center;
        padding-top: 11rem;
        padding-bottom: 8rem;
    }

    @include respond(phone) {
        padding-top: 9rem;
        padding-bottom: $phone-section-side-padding;
    }
}