.section-about {
    
    padding: 8.6rem 0 8.8rem 0;
    text-align: center;

    &__contents {
        @include flex-row-space-between;
        @include center-row;

        @include respond(tab-land) {
            @include flex-column-center;
        }
    }

    &__picture {
        overflow: hidden;
        margin-right: 5rem;

        @include respond(tab-land) {
            margin-right: 0rem;
            margin-bottom: 7rem;
        }

        &--small {
            @include size(48%, 38rem);

            @include respond(tab-land) {
                width: 90%;
            }
        }

        &--big {
            @include size(48%, 46.8rem);

            @include respond(tab-land) {
                @include size(48%, 30rem);
                width: 90%;
            }
        }

        img {
            @include abs-center;
            width: 100.5%;
            vertical-align: middle;

            @include respond(tab-land) {
                transform: translate(-50%, calc(-50% + 14.5rem));
            }
        }
    }

    &__info {
        flex: 1;

        @include respond(tab-land) {
            width: 90%;
        }
    }

    &__extra-content {
        margin-top: 3.5rem;
        
        @include respond(tab-land) {
            width: 12rem;
            margin-top: 3rem;
        }
    }
}